body {
  background-color: whitesmoke;
  padding-bottom: 100px;
}

footer {
  position: relative;
  bottom: -100px;
  padding-top: 100px;
  left: 0;
  width: 100%;
  height: 100px;          /* ajusta a tu footer */
  background-color: #1a1a1a;
  z-index: 1000;
}